<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="JSUtils/apexcharts.js" ></script>
</head>
<body>

<div class="container" style="padding-right: 2%; padding-left: 2%; height: 50vmin; width: 100%">
    <div class="row" style="border-style: solid;">
        <div class="col-sm-4 col-md-4 col-xl-4" style="border-style: solid;height: 50vmin">
            <h3 class="column1">Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-4" style="border-style: solid; color: blue; height: 50vmin">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-4" style="border-style: solid; color: brown; height: 50vmin">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

<br>
<div class="container" style="padding-right: 2%; padding-left: 2%; height: 40vh;">
    <div class="row">
        <div class="col-12">
            <div id="chart" style="height: 45vh;"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="JSUtils/test.js" ></script>
</body>
</html>
